.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
}

.map-frame {
  border: 0px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

.leaflet-control-zoom {
  a {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
  }
}

.easy-button-container {
  height: 40px;
  width: 40px;

  .easy-button-button {
    width: 40px;
    height: 40px;
    border: 0px;
    background: white;

    .button-state {
      img {
        height: 30px;
      }
    }
  }
}
